<!DOCTYPE html>
<html>
<head>
    <title>Speed Sudoku Test Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/game.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

	    <div class="container">
            <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="chat_board" style="width:100%; height:400px; overflow-y:scroll;">
            <div class="well trash" style="text-align:center; background-color:beige; border: black;
		border-width: 1px;">Trash Talk</div>
        </div>
        <form id="chat_form">
            <input id="chat_text" type="text" onclick="openNav()" style="width:93%">
        </form>
        <br>
        <button class="btn btn-large rules" data-toggle="modal" data-target="#myModal">Rules</button>
    </div>
        <div>
                  <img id="SpeedLogo" class="img center-block" src="/images/SpeedLogo.png">
            <!-- <h1 class="text-center">♦ S U D O K U ♦</h1> -->
        <div id="gameContainer">

        </div>
        <span id="rules" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Chat and Rules</span>
        <!--<div id="menu" class="sudoku-menu">
            <button class="btn" id="solve">Solve</button>
            <button class="btn" id="validate">Validate Board</button>
            <button class="btn" id="reset">Reset</button>
        </div>-->
    </div>
        </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sudoku Rules</h4>
                </div>
                <div class="modal-body">
                    <p>Each puzzle consists of a 9x9 grid containing given clues in various places. The object is to fill all empty squares so that the numbers 1 to 9 appear exactly once in each row, column and 3x3 box.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" ></script>
	<script src="javascript/sudoku_game_logic.js"></script>
    <script src="/javascript/singleton.sudoku.js"></script> 

	<script>     
	
	function openNav() {
        document.getElementById("mySidenav").style.width = "25%";
        document.getElementById("main").style.margin.left = "25%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.margin.left = "0";
    }
	</script>
 
</body>
</html>