<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
   <!--<link rel="stylesheet" href="/public/stylesheets/reset.css">-->
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>
<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Welcome to Speed Sudoku</h1>
    <!--<p>Login or Register with:</p>-->
    <a href="/login" class="btn btn-lg btn-default"><span class="fa fa-user"></span> Login</a>
    <a href="/signup" class="btn btn-lg btn-default"><span class="fa fa-user"></span> Signup</a>
  </div>
</div>
</div>