#SpeedLogo {
    /*transform: rotate(15deg);*/
    min-width: 30%;
    max-width: 50%;
    /*height: auto;*/
    /*margin-top: 50px;*/
    margin: auto;
    padding: 10px;
    display: block;
    /*position: relative;*/
    /*top: 50px;*/
    /*z-index: -1;*/
}

body {
    background-image: url("/images/PaperDecorative0028.jpg")
}


/*h1{
	font-weight: bold;
	color: black;
	font-family: serif;
	-webkit-text-stroke: 1px white;
}*/

#container {
    /*background: white;*/
}

.rules1 {
    display: flex;
    justify-content: space-around;
}